{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'learning_english/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'learning_english/img/logo_white_bg.png' %}" type="image/png">
    <title>Твой английский</title>
</head>
<body>
  <div class="wrapper">

    <header class="header">
      {% include 'learning_english/includes/header-top.html' %}
      
      <div class="header-middle">
        <div class="row">
          <div class="col-2 shapes">
            <img src="{% static 'learning_english/img/shape-swirl.svg' %}" alt="">
          </div>
          <div class="col-8 container-col">
            <div class="row first-text">Твой</div>
            <div class="row second-text">Английский</div>
            <div class="row slogan">Начни прямо сейчас</div>
          </div>
          <div class="col-2 shapes p-0">
            <img class="stars" src="{% static 'learning_english/img/shape-stars.svg' %}" alt="">
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <img class="scribble" src="{% static 'learning_english/img/scribble.svg' %}" alt="">
      </div>
    </header>



    <main class="main">
      <div class="topics-main">
        <div class="title">
          <div class="row first-row-title">Топики</div>
          <div class="row second-row-title">Поработай с текстом</div>
        </div>
        <div class="topics-list-main">
          <div class="row row-topic">
            <div class="col">
              <a href="{% url 'detail_topic' 1 %}">
                <div class="card with-shadow">
                  <div class="row">
                    <div class="col-4-md col-6 cover">
                        <img src="{% static 'learning_english/img/topics/cover1.png' %}" alt="">
                    </div>
                    <div class="col-8-md col-6 card-desc">
                      <div class="card-topic-theme colored">Тема 1</div>
                      <div class="colored card-topic-title">The United Kingdom</div>
                      <hr class="card-hr">
                      <div class="card-topic-desc">{{ topics_list.0.article }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="{% url 'detail_topic' 2 %}">

                <div class="card">
                  <img class="sparkle" src="{% static 'learning_english/img/sparkle.svg' %}" alt="">
                  <div class="row">
                    <div class="col-4-md col-6 cover">
                        <img src="{% static 'learning_english/img/topics/cover2.png' %}" alt="">
                    </div>
                    <div class="col-8-md col-6 card-desc">
                      <div class="card-topic-theme colored">Тема 2</div>
                      <div class="card-topic-title">UK Political System</div>
                      <hr class="card-hr">
                      <div class="card-topic-desc">{{ topics_list.1.article }}</div>
                    </div>
                    
                  </div>
                </div>
              </a>
              
            </div>
            
             

            
          </div>
          <div class="row row-topic">
            <div class="col">
              <a href="{% url 'detail_topic' 1 %}">

                <div class="card">
                  <div class="row">
                    <div class="col-4-md col-6 cover">
                        <img src="{% static 'learning_english/img/topics/cover3.png' %}" alt="">
                    </div>
                    <div class="col-8-md col-6 card-desc">
                      <div class="card-topic-theme colored">Тема 3</div>
                      <div class="card-topic-title">The Kremlin</div>
                      <hr class="card-hr">
                      <div class="card-topic-desc">{{ topics_list.2.article }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="{% url 'detail_topic' 1 %}">

                <div class="card with-shadow">
                  <div class="row">
                    <div class="col-4-md col-6 cover">
                        <img src="{% static 'learning_english/img/topics/cover4.png' %}" alt="">
                    </div>
                    <div class="col-8-md col-6 card-desc">
                      <div class="card-topic-theme colored">Тема 4</div>
                      <div class="card-topic-title colored">Schooling in the United States</div>
                      <hr class="card-hr">
                      <div class="card-topic-desc">{{ topics_list.3.article }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="{% url 'detail_topic' 1 %}">

                <div class="card with-shadow">
                  <div class="row">
                    <div class="col-4-md col-6 cover">
                        <img src="{% static 'learning_english/img/topics/cover5.png' %}" alt="">
                    </div>
                    <div class="col-8-md col-6 card-desc">
                      <div class="card-topic-theme colored">Тема 5</div>
                      <div class="card-topic-title colored">Sports in Great Britain</div>
                      <hr class="card-hr">
                      <div class="card-topic-desc">{{ topics_list.4.article }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="{% url 'detail_topic' 1 %}">

                <div class="card">
                  <div class="row">
                    <div class="col-4-md col-6 cover">
                        <img src="{% static 'learning_english/img/topics/cover6.png' %}" alt="">
                    </div>
                    <div class="col-8-md col-6 card-desc">
                      <div class="card-topic-theme colored">Тема 6</div>
                      <div class="card-topic-title">Abraham Lincoln</div>
                      <hr class="card-hr">
                      <div class="card-topic-desc">{{ topics_list.5.article }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="show-all-topics">
          <a href="{% url 'topics' %}">

            <button class="btn my-btn-outline-black">Посмотреть все тексты</button>
          </a>
        </div>
        
      </div>
      <div class="header-bottom">
        <img class="scribble" src="{% static 'learning_english/img/scribble.svg' %}" alt="">
      </div>
      <div class="directories-main">
        <div class="title">
          <div class="row first-row-title">Обзор разделов</div>
          <div class="row second-row-title">Выбери самый интересный и изучай!</div>
        </div>
        <div class="directories-list">
          <div class="row first-row-dir">
            <div class="col-md-4 col-12">
              <div class="directory-desc">
                <img class="directory-img" src="{% static 'learning_english/img/ic-grammar.svg' %}" alt="">
                <div class="dir-title">Грамматика</div>
                <div class="dir-subtitle">Адаптация знаменитого курса Рэймонда Мёрфи</div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="directory-desc">
                <img class="directory-img" src="{% static 'learning_english/img/ic-speaking.svg' %}" alt="">
                <div class="dir-title">Говорение</div>
                <div class="dir-subtitle">Улучшай понимание английской речи и свое произношение</div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="directory-desc">
                <img class="directory-img" src="{% static 'learning_english/img/ic-game.svg' %}" alt="">
                <div class="dir-title">Игра</div>
                <div class="dir-subtitle">Игра на память, чтобы запомнить больше слов</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-4 col-12">
              <div class="directory-desc">
                <img class="directory-img" src="{% static 'learning_english/img/ic-times.svg' %}" alt="">
                <div class="dir-title">Времена глаголов</div>
                <div class="dir-subtitle">Упражняйся в составлении предложений в нужном времени</div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="directory-desc">
                <img class="directory-img" src="{% static 'learning_english/img/ic-verbs.svg' %}" alt="">
                <div class="dir-title">Неправильные глаголы</div>
                <div class="dir-subtitle">Изучи таблицу неправильных глаголов</div>
              </div>
            </div>
          </div>
        </div>
        <div class="choose-random">
          <div class="show-all-topics choose-random-btn">
            <a href="{% url 'random_url' %}">
              <button class="btn my-btn-outline-black">Выбрать случайный</button>
            </a>
          </div>
        </div>
      </div>
    </main>
    {% include 'learning_english/includes/footer.html' %}
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
