{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'learning_english/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'learning_english/img/logo_white_bg.png' %}" type="image/png">
    <title>Квизы</title>
</head>
<body>
    <div class="wrapper">
        <header>
            {% include 'learning_english/includes/header-top.html' %}
            
        </header>
        <main>
  
  <!-- Modal -->
  <div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Тест</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-confirm">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">нет</button>
          <button type="button" id="start-button" class="btn btn-success">да</button>
        </div>
      </div>
    </div>
  </div>

  <main>
    <div class="quizes-content">
      <div class="h2 title-quiz-list">Тесты</div>

      {% for obj in object_list %}

  <button
   class="btn modal-button btn-quiz" 
   data-pk="{{obj.pk}}" 
   data-quiz="{{obj.name}}"
    data-questions="{{obj.number_of_questions}}"
    data-difficulty="{{obj.difficulty}}"
    data-time="{{obj.time}}"
    data-pass="{{obj.required_score_to_pass}}"
    data-bs-toggle="modal" 
    data-bs-target="#quizStartModal">
    {{obj.name}} ({{obj.number_of_questions}} questions)

</button>
    
  {% endfor %}
    </div>
  
  
  
    
  
        </main>
        {% include 'learning_english/includes/footer.html' %}
    </div>
    
</body>
<script src="{% static 'quiz/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>