{% load static %}
<footer class="footer">
    <div class="footer-content">
      <div class="row">

        <div class="col-8">
          <div class="row">
            <div class="col footer-logo">
              <img src="{% static 'learning_english/img/logo.svg' %}" alt="">
              Начни прямо сейчас
            </div>
            
          </div>
        </div>
        <div class="col-4">
          <div class="row footer-row">
            <div class="col-6 footer-links">
              <a href="{% url 'about' %}" class="footer-link">О нас</a>
              <a href="{% url 'lessons' %}" class="footer-link colored-footer">Грамматика</a>
              <a href="" class="footer-link">Говорение</a>
            </div>
            <div class="col-6 footer-links">
              <a href="{% url 'topics' %}" class="footer-link colored-footer">Тексты</a>
              <a href="{% url 'times' %}" class="footer-link">Времена</a>
              <a href="" class="footer-link colored-footer">Игра</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <hr>

      <div class="footer-bottom-text">
        <pre class="light-text">Разработан в ходе обучения в университете. </pre>
        
       <div class="colored">Eng for You</div> 
        
      </div>
    </div>
  </footer>